In [ ]:
import csv
import json
import pandas as pd

In [ ]:
#TASK 1 : dataloading and cleaning
#loading

df_csv = pd.read_csv('old_airline_data_2023.csv')
df_json = pd.read_json('new_airline_data_2024.json',)
print(df_json)

   Month  Flights Operated  Passengers Carried  Target Passengers
0    Jan            1300.0            165000.0             160000
1    Feb            1250.0            158000.0             155000
2    Mar            1200.0            150000.0             152000
3    Apr               NaN            140000.0             145000
4    May            1350.0                 NaN             160000
5    Jun            1400.0            170000.0             165000
6    Jul            1300.0            155000.0             150000
7    Aug            1380.0            162000.0             158000
8    Sep            1420.0            167000.0             163000
9    Oct            1350.0            158000.0             157000
10   Nov               NaN            155000.0             154000
11   Dec            1400.0                 NaN             160000
12   Jan            1320.0            166000.0             161000
13   Feb            1260.0            159000.0             156000
14   Mar            1210.0            151000.0             153000
15   Apr            1300.0                 NaN             146000
16   May            1360.0            162000.0             161000
17   Jun               NaN            171000.0             166000
18   Jul            1310.0            156000.0             151000
19   Aug            1390.0            163000.0             159000
20   Sep            1430.0            168000.0             164000
21   Oct            1360.0            159000.0             158000
22   Nov            1340.0            156000.0             155000
23   Dec               NaN            161000.0             161000
24   Jan            1330.0            167000.0             162000
25   Feb            1270.0                 NaN             157000
26   Mar               NaN            152000.0             154000
27   Apr            1310.0            143000.0             147000
28   May            1370.0            163000.0             162000
29   Jun            1410.0            172000.0             167000
30   Jul            1320.0                 NaN             152000
31   Aug            1400.0            164000.0             160000
32   Sep            1440.0            169000.0             165000
33   Oct            1370.0            160000.0             159000
34   Nov            1350.0            157000.0             156000
35   Dec            1420.0            162000.0             162000
36   Jan            1340.0            168000.0             163000
37   Feb            1280.0            160000.0             158000
38   Mar            1220.0            153000.0             155000
39   Apr            1320.0            144000.0             148000
40   May            1380.0                 NaN             163000
41   Jun            1420.0            173000.0             168000
42   Jul            1330.0            158000.0             153000
43   Aug            1410.0            165000.0             161000
44   Sep            1450.0            170000.0             166000
45   Oct            1380.0            161000.0             160000
46   Nov            1360.0            158000.0             157000
47   Dec            1430.0            163000.0             163000

In [ ]:
#identify all missing values

missing_values = df_json.isnull().sum()
print(missing_values)

Month                 0
Flights Operated      5
Passengers Carried    6
Target Passengers     0
dtype: int64

In [ ]:
#numeric columns

df_json['Flights Operated'] = df_json['Flights Operated'].fillna(df_json['Flights Operated'].mean())

df_json.iloc[:,2:] = df_json.iloc[:,2:].fillna(df_json.iloc[:,2:].mean())

print(df_json)

   Month  Flights Operated  Passengers Carried  Target Passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000
12   Jan        1320.00000       166000.000000             161000
13   Feb        1260.00000       159000.000000             156000
14   Mar        1210.00000       151000.000000             153000
15   Apr        1300.00000       160333.333333             146000
16   May        1360.00000       162000.000000             161000
17   Jun        1347.44186       171000.000000             166000
18   Jul        1310.00000       156000.000000             151000
19   Aug        1390.00000       163000.000000             159000
20   Sep        1430.00000       168000.000000             164000
21   Oct        1360.00000       159000.000000             158000
22   Nov        1340.00000       156000.000000             155000
23   Dec        1347.44186       161000.000000             161000
24   Jan        1330.00000       167000.000000             162000
25   Feb        1270.00000       160333.333333             157000
26   Mar        1347.44186       152000.000000             154000
27   Apr        1310.00000       143000.000000             147000
28   May        1370.00000       163000.000000             162000
29   Jun        1410.00000       172000.000000             167000
30   Jul        1320.00000       160333.333333             152000
31   Aug        1400.00000       164000.000000             160000
32   Sep        1440.00000       169000.000000             165000
33   Oct        1370.00000       160000.000000             159000
34   Nov        1350.00000       157000.000000             156000
35   Dec        1420.00000       162000.000000             162000
36   Jan        1340.00000       168000.000000             163000
37   Feb        1280.00000       160000.000000             158000
38   Mar        1220.00000       153000.000000             155000
39   Apr        1320.00000       144000.000000             148000
40   May        1380.00000       160333.333333             163000
41   Jun        1420.00000       173000.000000             168000
42   Jul        1330.00000       158000.000000             153000
43   Aug        1410.00000       165000.000000             161000
44   Sep        1450.00000       170000.000000             166000
45   Oct        1380.00000       161000.000000             160000
46   Nov        1360.00000       158000.000000             157000
47   Dec        1430.00000       163000.000000             163000

In [ ]:
#drop simultaneously(all three numeric columns)

df_json = df_json.dropna(subset=['Flights Operated', 'Passengers Carried' , 'Target Passengers'] , how = 'all',axis=0)
print(df_json)

   Month  Flights Operated  Passengers Carried  Target Passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000
12   Jan        1320.00000       166000.000000             161000
13   Feb        1260.00000       159000.000000             156000
14   Mar        1210.00000       151000.000000             153000
15   Apr        1300.00000       160333.333333             146000
16   May        1360.00000       162000.000000             161000
17   Jun        1347.44186       171000.000000             166000
18   Jul        1310.00000       156000.000000             151000
19   Aug        1390.00000       163000.000000             159000
20   Sep        1430.00000       168000.000000             164000
21   Oct        1360.00000       159000.000000             158000
22   Nov        1340.00000       156000.000000             155000
23   Dec        1347.44186       161000.000000             161000
24   Jan        1330.00000       167000.000000             162000
25   Feb        1270.00000       160333.333333             157000
26   Mar        1347.44186       152000.000000             154000
27   Apr        1310.00000       143000.000000             147000
28   May        1370.00000       163000.000000             162000
29   Jun        1410.00000       172000.000000             167000
30   Jul        1320.00000       160333.333333             152000
31   Aug        1400.00000       164000.000000             160000
32   Sep        1440.00000       169000.000000             165000
33   Oct        1370.00000       160000.000000             159000
34   Nov        1350.00000       157000.000000             156000
35   Dec        1420.00000       162000.000000             162000
36   Jan        1340.00000       168000.000000             163000
37   Feb        1280.00000       160000.000000             158000
38   Mar        1220.00000       153000.000000             155000
39   Apr        1320.00000       144000.000000             148000
40   May        1380.00000       160333.333333             163000
41   Jun        1420.00000       173000.000000             168000
42   Jul        1330.00000       158000.000000             153000
43   Aug        1410.00000       165000.000000             161000
44   Sep        1450.00000       170000.000000             166000
45   Oct        1380.00000       161000.000000             160000
46   Nov        1360.00000       158000.000000             157000
47   Dec        1430.00000       163000.000000             163000

In [ ]:
#validate the month

df_json = df_json[df_json.iloc[:,0].isin(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])]
print(df_json)

   Month  Flights Operated  Passengers Carried  Target Passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000
12   Jan        1320.00000       166000.000000             161000
13   Feb        1260.00000       159000.000000             156000
14   Mar        1210.00000       151000.000000             153000
15   Apr        1300.00000       160333.333333             146000
16   May        1360.00000       162000.000000             161000
17   Jun        1347.44186       171000.000000             166000
18   Jul        1310.00000       156000.000000             151000
19   Aug        1390.00000       163000.000000             159000
20   Sep        1430.00000       168000.000000             164000
21   Oct        1360.00000       159000.000000             158000
22   Nov        1340.00000       156000.000000             155000
23   Dec        1347.44186       161000.000000             161000
24   Jan        1330.00000       167000.000000             162000
25   Feb        1270.00000       160333.333333             157000
26   Mar        1347.44186       152000.000000             154000
27   Apr        1310.00000       143000.000000             147000
28   May        1370.00000       163000.000000             162000
29   Jun        1410.00000       172000.000000             167000
30   Jul        1320.00000       160333.333333             152000
31   Aug        1400.00000       164000.000000             160000
32   Sep        1440.00000       169000.000000             165000
33   Oct        1370.00000       160000.000000             159000
34   Nov        1350.00000       157000.000000             156000
35   Dec        1420.00000       162000.000000             162000
36   Jan        1340.00000       168000.000000             163000
37   Feb        1280.00000       160000.000000             158000
38   Mar        1220.00000       153000.000000             155000
39   Apr        1320.00000       144000.000000             148000
40   May        1380.00000       160333.333333             163000
41   Jun        1420.00000       173000.000000             168000
42   Jul        1330.00000       158000.000000             153000
43   Aug        1410.00000       165000.000000             161000
44   Sep        1450.00000       170000.000000             166000
45   Oct        1380.00000       161000.000000             160000
46   Nov        1360.00000       158000.000000             157000
47   Dec        1430.00000       163000.000000             163000

In [ ]:
#standardization:

df_json.columns = df_json.columns.str.lower()
df_json.columns = df_json.columns.str.replace(' ','_')
df_json['month'] = df_json['month'].str.capitalize()
print(df_json)

   month  flights_operated  passengers_carried  target_passengers
0    Jan        1300.00000       165000.000000             160000
1    Feb        1250.00000       158000.000000             155000
2    Mar        1200.00000       150000.000000             152000
3    Apr        1347.44186       140000.000000             145000
4    May        1350.00000       160333.333333             160000
5    Jun        1400.00000       170000.000000             165000
6    Jul        1300.00000       155000.000000             150000
7    Aug        1380.00000       162000.000000             158000
8    Sep        1420.00000       167000.000000             163000
9    Oct        1350.00000       158000.000000             157000
10   Nov        1347.44186       155000.000000             154000
11   Dec        1400.00000       160333.333333             160000
12   Jan        1320.00000       166000.000000             161000
13   Feb        1260.00000       159000.000000             156000
14   Mar        1210.00000       151000.000000             153000
15   Apr        1300.00000       160333.333333             146000
16   May        1360.00000       162000.000000             161000
17   Jun        1347.44186       171000.000000             166000
18   Jul        1310.00000       156000.000000             151000
19   Aug        1390.00000       163000.000000             159000
20   Sep        1430.00000       168000.000000             164000
21   Oct        1360.00000       159000.000000             158000
22   Nov        1340.00000       156000.000000             155000
23   Dec        1347.44186       161000.000000             161000
24   Jan        1330.00000       167000.000000             162000
25   Feb        1270.00000       160333.333333             157000
26   Mar        1347.44186       152000.000000             154000
27   Apr        1310.00000       143000.000000             147000
28   May        1370.00000       163000.000000             162000
29   Jun        1410.00000       172000.000000             167000
30   Jul        1320.00000       160333.333333             152000
31   Aug        1400.00000       164000.000000             160000
32   Sep        1440.00000       169000.000000             165000
33   Oct        1370.00000       160000.000000             159000
34   Nov        1350.00000       157000.000000             156000
35   Dec        1420.00000       162000.000000             162000
36   Jan        1340.00000       168000.000000             163000
37   Feb        1280.00000       160000.000000             158000
38   Mar        1220.00000       153000.000000             155000
39   Apr        1320.00000       144000.000000             148000
40   May        1380.00000       160333.333333             163000
41   Jun        1420.00000       173000.000000             168000
42   Jul        1330.00000       158000.000000             153000
43   Aug        1410.00000       165000.000000             161000
44   Sep        1450.00000       170000.000000             166000
45   Oct        1380.00000       161000.000000             160000
46   Nov        1360.00000       158000.000000             157000
47   Dec        1430.00000       163000.000000             163000

In [ ]:
#Duplicate Handling:

df_json = df_json.groupby('month',as_index = False).first()
print(df_json)

   month  flights_operated  passengers_carried  target_passengers
0    Apr        1347.44186       140000.000000             145000
1    Aug        1380.00000       162000.000000             158000
2    Dec        1400.00000       160333.333333             160000
3    Feb        1250.00000       158000.000000             155000
4    Jan        1300.00000       165000.000000             160000
5    Jul        1300.00000       155000.000000             150000
6    Jun        1400.00000       170000.000000             165000
7    Mar        1200.00000       150000.000000             152000
8    May        1350.00000       160333.333333             160000
9    Nov        1347.44186       155000.000000             154000
10   Oct        1350.00000       158000.000000             157000
11   Sep        1420.00000       167000.000000             163000

In [ ]:
#cleaning
df_csv.columns = df_csv.columns.str.lower().str.replace(' ','_')
df_csv

   month  flights_operated  passengers_carried  target_passengers
0    Jan              1200              150000             145000
1    Feb              1100              142000             140000
2    Mar              1150              148500             147000
3    Apr              1000              130000             135000
4    May              1250              155000             150000
5    Jun              1300              160000             158000
6    Jul              1120              140000             142000
7    Aug              1180              145000             148000
8    Sep              1230              150500             149000
9    Oct              1100              138000             140000
10   Nov              1090              135000             136000
11   Dec              1200              148000             147500
12   Jan              1220              152000             146000
13   Feb              1110              143000             140500
14   Mar              1170              149000             148000
15   Apr              1050              133000             136000
16   May              1280              157000             151000
17   Jun              1310              162000             159000
18   Jul              1150              141000             143000
19   Aug              1200              147000             149000
20   Sep              1250              152000             150000
21   Oct              1130              139000             141000
22   Nov              1100              136000             137000
23   Dec              1220              149000             148000
24   Jan              1250              153000             147000
25   Feb              1120              144000             141000
26   Mar              1180              150000             149000
27   Apr              1080              134000             137000
28   May              1290              158000             152000
29   Jun              1330              163000             160000
30   Jul              1170              142000             144000
31   Aug              1220              148000             150000
32   Sep              1260              153000             151000
33   Oct              1140              140000             142000
34   Nov              1110              137000             138000
35   Dec              1230              150000             149000
36   Jan              1270              154000             148000
37   Feb              1130              145000             141500
38   Mar              1190              151000             150000
39   Apr              1100              135000             138000
40   May              1300              159000             153000
41   Jun              1340              164000             161000
42   Jul              1180              143000             145000
43   Aug              1230              149000             151000
44   Sep              1270              154000             152000
45   Oct              1150              141000             143000
46   Nov              1120              138000             139000
47   Dec              1240              151000             150000

In [ ]:
#TASK 2 : DATA MERGING
#concatenation:

new_data = pd.concat([df_csv , df_json] , ignore_index = True)
print(new_data)

   month  flights_operated  passengers_carried  target_passengers
0    Jan        1200.00000       150000.000000             145000
1    Feb        1100.00000       142000.000000             140000
2    Mar        1150.00000       148500.000000             147000
3    Apr        1000.00000       130000.000000             135000
4    May        1250.00000       155000.000000             150000
5    Jun        1300.00000       160000.000000             158000
6    Jul        1120.00000       140000.000000             142000
7    Aug        1180.00000       145000.000000             148000
8    Sep        1230.00000       150500.000000             149000
9    Oct        1100.00000       138000.000000             140000
10   Nov        1090.00000       135000.000000             136000
11   Dec        1200.00000       148000.000000             147500
12   Jan        1220.00000       152000.000000             146000
13   Feb        1110.00000       143000.000000             140500
14   Mar        1170.00000       149000.000000             148000
15   Apr        1050.00000       133000.000000             136000
16   May        1280.00000       157000.000000             151000
17   Jun        1310.00000       162000.000000             159000
18   Jul        1150.00000       141000.000000             143000
19   Aug        1200.00000       147000.000000             149000
20   Sep        1250.00000       152000.000000             150000
21   Oct        1130.00000       139000.000000             141000
22   Nov        1100.00000       136000.000000             137000
23   Dec        1220.00000       149000.000000             148000
24   Jan        1250.00000       153000.000000             147000
25   Feb        1120.00000       144000.000000             141000
26   Mar        1180.00000       150000.000000             149000
27   Apr        1080.00000       134000.000000             137000
28   May        1290.00000       158000.000000             152000
29   Jun        1330.00000       163000.000000             160000
30   Jul        1170.00000       142000.000000             144000
31   Aug        1220.00000       148000.000000             150000
32   Sep        1260.00000       153000.000000             151000
33   Oct        1140.00000       140000.000000             142000
34   Nov        1110.00000       137000.000000             138000
35   Dec        1230.00000       150000.000000             149000
36   Jan        1270.00000       154000.000000             148000
37   Feb        1130.00000       145000.000000             141500
38   Mar        1190.00000       151000.000000             150000
39   Apr        1100.00000       135000.000000             138000
40   May        1300.00000       159000.000000             153000
41   Jun        1340.00000       164000.000000             161000
42   Jul        1180.00000       143000.000000             145000
43   Aug        1230.00000       149000.000000             151000
44   Sep        1270.00000       154000.000000             152000
45   Oct        1150.00000       141000.000000             143000
46   Nov        1120.00000       138000.000000             139000
47   Dec        1240.00000       151000.000000             150000
48   Apr        1347.44186       140000.000000             145000
49   Aug        1380.00000       162000.000000             158000
50   Dec        1400.00000       160333.333333             160000
51   Feb        1250.00000       158000.000000             155000
52   Jan        1300.00000       165000.000000             160000
53   Jul        1300.00000       155000.000000             150000
54   Jun        1400.00000       170000.000000             165000
55   Mar        1200.00000       150000.000000             152000
56   May        1350.00000       160333.333333             160000
57   Nov        1347.44186       155000.000000             154000
58   Oct        1350.00000       158000.000000             157000
59   Sep        1420.00000       167000.000000             163000

In [ ]:
#year_column

new_data['year'] = ["2023" if idx < len(df_csv)  else "2024" for idx in range(len(new_data))]
print(new_data)

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2023
48   Apr        1347.44186       140000.000000             145000  2024
49   Aug        1380.00000       162000.000000             158000  2024
50   Dec        1400.00000       160333.333333             160000  2024
51   Feb        1250.00000       158000.000000             155000  2024
52   Jan        1300.00000       165000.000000             160000  2024
53   Jul        1300.00000       155000.000000             150000  2024
54   Jun        1400.00000       170000.000000             165000  2024
55   Mar        1200.00000       150000.000000             152000  2024
56   May        1350.00000       160333.333333             160000  2024
57   Nov        1347.44186       155000.000000             154000  2024
58   Oct        1350.00000       158000.000000             157000  2024
59   Sep        1420.00000       167000.000000             163000  2024

In [ ]:
#month consistency:

df_json = new_data[new_data.month.isin(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])]
print(df_json)

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
1    Feb        1100.00000       142000.000000             140000  2023
2    Mar        1150.00000       148500.000000             147000  2023
3    Apr        1000.00000       130000.000000             135000  2023
4    May        1250.00000       155000.000000             150000  2023
5    Jun        1300.00000       160000.000000             158000  2023
6    Jul        1120.00000       140000.000000             142000  2023
7    Aug        1180.00000       145000.000000             148000  2023
8    Sep        1230.00000       150500.000000             149000  2023
9    Oct        1100.00000       138000.000000             140000  2023
10   Nov        1090.00000       135000.000000             136000  2023
11   Dec        1200.00000       148000.000000             147500  2023
12   Jan        1220.00000       152000.000000             146000  2023
13   Feb        1110.00000       143000.000000             140500  2023
14   Mar        1170.00000       149000.000000             148000  2023
15   Apr        1050.00000       133000.000000             136000  2023
16   May        1280.00000       157000.000000             151000  2023
17   Jun        1310.00000       162000.000000             159000  2023
18   Jul        1150.00000       141000.000000             143000  2023
19   Aug        1200.00000       147000.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
21   Oct        1130.00000       139000.000000             141000  2023
22   Nov        1100.00000       136000.000000             137000  2023
23   Dec        1220.00000       149000.000000             148000  2023
24   Jan        1250.00000       153000.000000             147000  2023
25   Feb        1120.00000       144000.000000             141000  2023
26   Mar        1180.00000       150000.000000             149000  2023
27   Apr        1080.00000       134000.000000             137000  2023
28   May        1290.00000       158000.000000             152000  2023
29   Jun        1330.00000       163000.000000             160000  2023
30   Jul        1170.00000       142000.000000             144000  2023
31   Aug        1220.00000       148000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
33   Oct        1140.00000       140000.000000             142000  2023
34   Nov        1110.00000       137000.000000             138000  2023
35   Dec        1230.00000       150000.000000             149000  2023
36   Jan        1270.00000       154000.000000             148000  2023
37   Feb        1130.00000       145000.000000             141500  2023
38   Mar        1190.00000       151000.000000             150000  2023
39   Apr        1100.00000       135000.000000             138000  2023
40   May        1300.00000       159000.000000             153000  2023
41   Jun        1340.00000       164000.000000             161000  2023
42   Jul        1180.00000       143000.000000             145000  2023
43   Aug        1230.00000       149000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
45   Oct        1150.00000       141000.000000             143000  2023
46   Nov        1120.00000       138000.000000             139000  2023
47   Dec        1240.00000       151000.000000             150000  2023
48   Apr        1347.44186       140000.000000             145000  2024
49   Aug        1380.00000       162000.000000             158000  2024
50   Dec        1400.00000       160333.333333             160000  2024
51   Feb        1250.00000       158000.000000             155000  2024
52   Jan        1300.00000       165000.000000             160000  2024
53   Jul        1300.00000       155000.000000             150000  2024
54   Jun        1400.00000       170000.000000             165000  2024
55   Mar        1200.00000       150000.000000             152000  2024
56   May        1350.00000       160333.333333             160000  2024
57   Nov        1347.44186       155000.000000             154000  2024
58   Oct        1350.00000       158000.000000             157000  2024
59   Sep        1420.00000       167000.000000             163000  2024

In [ ]:
#sorting

#chronologically by month
month_order = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
new_data['month'] = pd.Categorical(new_data['month'],categories = month_order , ordered = True)
new_data.sort_values(['year','month'],inplace=True)
new_data

   month  flights_operated  passengers_carried  target_passengers  year
0    Jan        1200.00000       150000.000000             145000  2023
12   Jan        1220.00000       152000.000000             146000  2023
24   Jan        1250.00000       153000.000000             147000  2023
36   Jan        1270.00000       154000.000000             148000  2023
1    Feb        1100.00000       142000.000000             140000  2023
13   Feb        1110.00000       143000.000000             140500  2023
25   Feb        1120.00000       144000.000000             141000  2023
37   Feb        1130.00000       145000.000000             141500  2023
2    Mar        1150.00000       148500.000000             147000  2023
14   Mar        1170.00000       149000.000000             148000  2023
26   Mar        1180.00000       150000.000000             149000  2023
38   Mar        1190.00000       151000.000000             150000  2023
3    Apr        1000.00000       130000.000000             135000  2023
15   Apr        1050.00000       133000.000000             136000  2023
27   Apr        1080.00000       134000.000000             137000  2023
39   Apr        1100.00000       135000.000000             138000  2023
4    May        1250.00000       155000.000000             150000  2023
16   May        1280.00000       157000.000000             151000  2023
28   May        1290.00000       158000.000000             152000  2023
40   May        1300.00000       159000.000000             153000  2023
5    Jun        1300.00000       160000.000000             158000  2023
17   Jun        1310.00000       162000.000000             159000  2023
29   Jun        1330.00000       163000.000000             160000  2023
41   Jun        1340.00000       164000.000000             161000  2023
6    Jul        1120.00000       140000.000000             142000  2023
18   Jul        1150.00000       141000.000000             143000  2023
30   Jul        1170.00000       142000.000000             144000  2023
42   Jul        1180.00000       143000.000000             145000  2023
7    Aug        1180.00000       145000.000000             148000  2023
19   Aug        1200.00000       147000.000000             149000  2023
31   Aug        1220.00000       148000.000000             150000  2023
43   Aug        1230.00000       149000.000000             151000  2023
8    Sep        1230.00000       150500.000000             149000  2023
20   Sep        1250.00000       152000.000000             150000  2023
32   Sep        1260.00000       153000.000000             151000  2023
44   Sep        1270.00000       154000.000000             152000  2023
9    Oct        1100.00000       138000.000000             140000  2023
21   Oct        1130.00000       139000.000000             141000  2023
33   Oct        1140.00000       140000.000000             142000  2023
45   Oct        1150.00000       141000.000000             143000  2023
10   Nov        1090.00000       135000.000000             136000  2023
22   Nov        1100.00000       136000.000000             137000  2023
34   Nov        1110.00000       137000.000000             138000  2023
46   Nov        1120.00000       138000.000000             139000  2023
11   Dec        1200.00000       148000.000000             147500  2023
23   Dec        1220.00000       149000.000000             148000  2023
35   Dec        1230.00000       150000.000000             149000  2023
47   Dec        1240.00000       151000.000000             150000  2023
52   Jan        1300.00000       165000.000000             160000  2024
51   Feb        1250.00000       158000.000000             155000  2024
55   Mar        1200.00000       150000.000000             152000  2024
48   Apr        1347.44186       140000.000000             145000  2024
56   May        1350.00000       160333.333333             160000  2024
54   Jun        1400.00000       170000.000000             165000  2024
53   Jul        1300.00000       155000.000000             150000  2024
49   Aug        1380.00000       162000.000000             158000  2024
59   Sep        1420.00000       167000.000000             163000  2024
58   Oct        1350.00000       158000.000000             157000  2024
57   Nov        1347.44186       155000.000000             154000  2024
50   Dec        1400.00000       160333.333333             160000  2024

In [ ]:
#TASK 3
#performance metrics
new_data['pct_diff_target'] = ((new_data['passengers_carried'] - new_data['target_passengers']) / new_data['target_passengers']) * 100
new_data

,month,flights_operated,passengers_carried,target_passengers,year,pct_diff_target
0,Jan,1200.00000,150000.000000,145000,2023,3.448276
12,Jan,1220.00000,152000.000000,146000,2023,4.109589
24,Jan,1250.00000,153000.000000,147000,2023,4.081633
36,Jan,1270.00000,154000.000000,148000,2023,4.054054
1,Feb,1100.00000,142000.000000,140000,2023,1.428571
13,Feb,1110.00000,143000.000000,140500,2023,1.779359
25,Feb,1120.00000,144000.000000,141000,2023,2.127660
37,Feb,1130.00000,145000.000000,141500,2023,2.473498
2,Mar,1150.00000,148500.000000,147000,2023,1.020408
14,Mar,1170.00000,149000.000000,148000,2023,0.675676
26,Mar,1180.00000,150000.000000,149000,2023,0.671141
38,Mar,1190.00000,151000.000000,150000,2023,0.666667
3,Apr,1000.00000,130000.000000,135000,2023,-3.703704
15,Apr,1050.00000,133000.000000,136000,2023,-2.205882
27,Apr,1080.00000,134000.000000,137000,2023,-2.189781
39,Apr,1100.00000,135000.000000,138000,2023,-2.173913
4,May,1250.00000,155000.000000,150000,2023,3.333333
16,May,1280.00000,157000.000000,151000,2023,3.973510
28,May,1290.00000,158000.000000,152000,2023,3.947368
40,May,1300.00000,159000.000000,153000,2023,3.921569
5,Jun,1300.00000,160000.000000,158000,2023,1.265823
17,Jun,1310.00000,162000.000000,159000,2023,1.886792
29,Jun,1330.00000,163000.000000,160000,2023,1.875000
41,Jun,1340.00000,164000.000000,161000,2023,1.863354
6,Jul,1120.00000,140000.000000,142000,2023,-1.408451
18,Jul,1150.00000,141000.000000,143000,2023,-1.398601
30,Jul,1170.00000,142000.000000,144000,2023,-1.388889
42,Jul,1180.00000,143000.000000,145000,2023,-1.379310
7,Aug,1180.00000,145000.000000,148000,2023,-2.027027
19,Aug,1200.00000,147000.000000,149000,2023,-1.342282
31,Aug,1220.00000,148000.000000,150000,2023,-1.333333
43,Aug,1230.00000,149000.000000,151000,2023,-1.324503
8,Sep,1230.00000,150500.000000,149000,2023,1.006711
20,Sep,1250.00000,152000.000000,150000,2023,1.333333
32,Sep,1260.00000,153000.000000,151000,2023,1.324503
44,Sep,1270.00000,154000.000000,152000,2023,1.315789
9,Oct,1100.00000,138000.000000,140000,2023,-1.428571
21,Oct,1130.00000,139000.000000,141000,2023,-1.418440
33,Oct,1140.00000,140000.000000,142000,2023,-1.408451
45,Oct,1150.00000,141000.000000,143000,2023,-1.398601
10,Nov,1090.00000,135000.000000,136000,2023,-0.735294
22,Nov,1100.00000,136000.000000,137000,2023,-0.729927
34,Nov,1110.00000,137000.000000,138000,2023,-0.724638
46,Nov,1120.00000,138000.000000,139000,2023,-0.719424
11,Dec,1200.00000,148000.000000,147500,2023,0.338983
23,Dec,1220.00000,149000.000000,148000,2023,0.675676
35,Dec,1230.00000,150000.000000,149000,2023,0.671141
47,Dec,1240.00000,151000.000000,150000,2023,0.666667
52,Jan,1300.00000,165000.000000,160000,2024,3.125000
51,Feb,1250.00000,158000.000000,155000,2024,1.935484
55,Mar,1200.00000,150000.000000,152000,2024,-1.315789
48,Apr,1347.44186,140000.000000,145000,2024,-3.448276
56,May,1350.00000,160333.333333,160000,2024,0.208333
54,Jun,1400.00000,170000.000000,165000,2024,3.030303
53,Jul,1300.00000,155000.000000,150000,2024,3.333333
49,Aug,1380.00000,162000.000000,158000,2024,2.531646
59,Sep,1420.00000,167000.000000,163000,2024,2.453988
58,Oct,1350.00000,158000.000000,157000,2024,0.636943
57,Nov,1347.44186,155000.000000,154000,2024,0.649351
50,Dec,1400.00000,160333.333333,160000,2024,0.208333

In [ ]:
#Target Non-Achievement:

target_not_achieved = new_data[new_data['pct_diff_target'] < 0 ]
target_not_achieved[['month','year','pct_diff_target']]

   month  year  pct_diff_target
3    Apr  2023        -3.703704
15   Apr  2023        -2.205882
27   Apr  2023        -2.189781
39   Apr  2023        -2.173913
6    Jul  2023        -1.408451
18   Jul  2023        -1.398601
30   Jul  2023        -1.388889
42   Jul  2023        -1.379310
7    Aug  2023        -2.027027
19   Aug  2023        -1.342282
31   Aug  2023        -1.333333
43   Aug  2023        -1.324503
9    Oct  2023        -1.428571
21   Oct  2023        -1.418440
33   Oct  2023        -1.408451
45   Oct  2023        -1.398601
10   Nov  2023        -0.735294
22   Nov  2023        -0.729927
34   Nov  2023        -0.724638
46   Nov  2023        -0.719424
55   Mar  2024        -1.315789
48   Apr  2024        -3.448276

In [ ]:
#Annual Summaries:

total_passenger = new_data.groupby('year',as_index = False)['passengers_carried'].sum().astype(int)
total_passenger

   year  passengers_carried
0  2023             7058000
1  2024             1900666

In [ ]:
total_flights = new_data.groupby('year',as_index = False).flights_operated.sum().astype(int)
total_flights

   year  flights_operated
0  2023             57010
1  2024             16044

In [ ]:
average = new_data.groupby('year',as_index = False)['pct_diff_target'].mean()
average

   year  pct_diff_target
0  2023         0.531189
1  2024         1.112387

In [ ]:
annual_summary = pd.concat([total_passenger , total_flights.iloc[:,1] , average.iloc[:,1]]  ,ignore_index=False, axis = 1 )
annual_summary

   year  passengers_carried  flights_operated  pct_diff_target
0  2023             7058000             57010         0.531189
1  2024             1900666             16044         1.112387

In [ ]:
#Extreme Performance

best = new_data[new_data['pct_diff_target'] == new_data['pct_diff_target'].max()][['month','year']]
worst = new_data[new_data['pct_diff_target'] == new_data['pct_diff_target'].min()][['month','year']]
print(best ,"--> Best Performance")
print(worst ,"--> Worst Performance")

   month  year
12   Jan  2023 --> Best Performance
  month  year
3   Apr  2023 --> Worst Performance

In [ ]:
#TASK 4 : Data output and zipping
#output files

out1 = new_data.to_csv('combined_airline_data.csv',index=False)

out2 = target_not_achieved.to_csv('target_not_achieved.csv' ,  index = False)
out3 = annual_summary.to_json('yearly_summary.json')

In [ ]:
#archieving
import zipfile

with zipfile.ZipFile('airline_analysis_outputs.zip' , 'w' ) as f:
  f.write('combined_airline_data.csv')
  f.write('target_not_achieved.csv')
  f.write('yearly_summary.json')